<h1>Current Job Offers</h1>
<table class="table table-bordered">
<table class="sortable">

	<tr>
		<th><font color="blue">Title</font></th>
		<th><font color="blue">Location</font></th>
		<th><font color="blue">Description</font></th>
		<th>Actions</th>
	</tr>
	<% @offers.each do | offer| %>

	<tr>
		<td>
			<%= offer.title %>
		</td>
		<td>
			<%= offer.location %>
		</td>
		<td>
			<%= offer.description %>
		</td>
		<td>
			<%= link_to 'Apply', url_for(:job_offers, :apply, :offer_id => offer.id), :class => "btn btn-primary" %>
		</td>
	</tr>

  <% end %>

</table>
</div>
