<h1>New Job Offer</h1>
<% form_for(@job_offer, '/job_offers/create') do |f| %>

  <%= partial 'job_offers/form', :locals => { :f => f } %>

  <%= f.submit "Create", :class => "btn btn-primary", :id => 'createButton' %>
  
	<%= f.submit "Create and Twit", :class => "btn btn-primary", :name => 'create_and_twit' if feature_enabled?(:twit) %>
 	
  <%= link_to 'Cancel', url_for(:job_offers, :my), :class => "btn btn-secondary", :id => 'cancelButton' %>
<% end %>